body
{
    margin:0 auto;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
#headerblock
{
    height: 600px;
}
.leftheaderBlock
{
    background: rgb(248, 243, 243);
    width: 60%;
    height: 600px;
    float: left;
}
.rightheaderBlock
{
    width: 40%;
    float: right;
    height: 600px;
    background-color: rgb(255, 45, 45);
    background-size: cover;
    background-attachment: fixed;
}
.rightheaderBlock img
{
    height: 100%;
    width: 100%;
}
.logo
{
    width: 30%;
    float: left;
    height:70px;
}
.menu
{
    float: right;
    width: 70%;
    text-align: right;
}
.menu ul
{
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 54px;
}
.menu ul li
{
display: inline-block;
}
#menuandlogo
{
    padding: 80px;
}
.logo svg
{
    fill: #fc8019;
    width:200px ;
}
.menu ul li a
{
color:black ;
padding: 17px;
text-decoration: none;
font-weight: bold;
}
.menu ul li a:hover
{
    color:#fc8019 ;
}
.signup
{
    background: black;
   
    color: white !important;
    box-sizing: border-box;
}
#mainBlock,.footerlist
{
    padding: 20px 60px;
}
.headerTitle h1
{
   font-weight:600 ;
   font-size: 40px;
   text-transform: capitalize;
   margin-bottom: 10px;
   overflow: hidden;
   position: relative;
   height: 50px;
    
}
.slide
    {
     display: inline-block;
     color: black;
     position: relative;
     top: 0;
     left: 0;
     -webkit-animation: move 5s;
    -webkit-webanimation-iteration-count: infinite;
    -webkit-animation-delay: 5s ;
    }
    @keyframes move 
    {
        0%{top:0px}
        20%{top:-50px}
        40%{top:-100px}
        60%{top:-150px}
        80%{top:-200px}

    }
.contentblockpara p
{
    font-size: 23px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 50px;
    
}

.form-control
{
    width: 95%;
    padding: 20px;
    box-sizing: border-box;
}
form
{
    position: relative;

}
.btn
{
position: absolute;
background:#fc8019;
color: white;
padding: 10px;
border: none;
top: 0;
right: 0;
height: 59px;
width: 120px;
font-size: 18px;
font-weight: bold;
}
.locateme
{
    position: absolute;
    right: 130px;
    top: 10px;
    padding: 10px 20px;
    text-transform: capitalize;
    font-size: 13px !important;
    color: gray;
}
.locateme:hover
{
    background: rgb(166, 211, 240);
    transition: cubic-bezier(0.075,0.82,0.165,1);
    cursor: pointer;
}  
.footerlist h3
{
    color: #999;
    text-transform: uppercase;
    font-size: 15px;
}
.footerlist ul
{
list-style: none;
padding: 0;
margin: 0;

}
.footerlist ul li
{
    display: inline-block;
}
.footerlist ul li a
{
    text-decoration: none;
}
.footerlist ul li :nth-child(odd) a
{
color: rgb(231, 221, 226);
font-weight: bold;
}
.footerlist ul li:nth-child(even) a
{
color: rgb(55, 54, 58);
font-weight: bold;
}

/*----middle section css----*/


#middlsection
{
background: #2b1e16;
height: 500px;
width: 100%;
clear: both;
}
figure
{
    margin: 0;
    padding: 0;
   
}
.leftarea
{
    width: 30%;
    float: left;
}
.middlearea
{
    width: 30%;
    float: left;
}
.rightarea
{
    width: 30%;
    float: left;
}
.contentarea
{
    text-align: center;
    padding: 20px;
}

.contentarea img
{
    width: 100px;
    height: 199px;
}
.contentarea h1
{
    font-size: 18px;
    color: beige;
}
.contentarea p
{
    color: beige;
    font-size: 14px;
}


/*restorent css*/
#restaurants
{
    clear: both;
    height: 536px;
    background: white;
}
.restaurants_left
{
    width: 45%;
    float: left;
    
}
.restaurants_right
{
    width:55%;
    float: left;
}
.restaurants_left section
{
padding: 110px 80px;
}

.restaurants_left section h1
{
    font-size: 36px;
    font-weight: 600px;
    padding: 0;
    width: 60%;
    margin: 20px 0px;
}
.restaurants_left section p
{
    font-size: 16px;
    color: #999;
    padding: 0 0 40px 0;
    margin: 0;
}
.restaurants_left section figure
{
    margin: 0;
    display: inline-block;
}
.restaurants_left section figure img
{
    width: 180px;
    
}
.restaurants_right img
{
width: 380px;

}
.restaurants_right figure
{
    float: left;
    width: 46%;
}
.restaurants_right figure:nth-child(2)
{
    padding-top: 50px;
}

.restromenulist
{
    width: 100%;
    min-height:500px;
    background:black;
    clear: both;
    
}
.restromenulist .part1,.part2,.part3,.part4
{
    width: 25%;
    height: 500px;
    float: left;
}
.restromenulist .part1 h3,.part2 h3,.part3 h3,.part4 h3
{
    color: grey;
    padding-top: 50px;
    padding-left: 60px;
}
.restromenulist .part1 ul,.part2 ul,.part3 ul,.part4 ul
{

padding-top: 10px;
padding-left: 60px;
}
.restromenulist .part1 ul li,.part2 ul li,.part3 ul li,.part4 ul li
{
    list-style: none;
    padding: 10px 0px;
}
.restromenulist .part1 ul li a,.part2 ul li a,.part3 ul li a,.part4 ul li a
{
text-decoration: none;
color: white;
font-size: 14px;
font-weight: 300;

}


.restromenulist .part4 img
{
    padding-top: 70px;
    padding-left: 70px;
    height: 60px;
    width: 170px;
}
.restromenulist2
{
    width: 100%;
    height: 2500px;
    background:black;
    clear: both;
    
}


.restromenulist2 h3
{
    color: grey;
    padding-top: 50px;
    padding-left: 60px;
}

.bottom_footer
{
height: 100px;
background-color: black ;
clear: both;
}
.bottom_footer .footerleft 
{
    width: 33.3%;
    height: 100px;
    float: left;
    text-align: left;
    background-color: black ;
}
.bottom_footer .footerleft svg
{
    padding: 20px 70px;
    width: 200px;
    fill: white;
}
.bottom_footer .footermiddle
{
    width: 33.3%;
    height: 100px;
    float: left;
    text-align:center;
    background-color: black ;
    color: white;
    font-weight: bold;
}
.bottom_footer .footermiddle p
{
    padding: 20px;
}
.bottom_footer .footerright
{
    width: 33.3%;
    height: 100px;
    float: left;
    color: white;
    text-align: center;
    background-color:black ;
}
.bottom_footer .footerright ul a
{
    text-decoration: none;
}
.bottom_footer .footerright ul i
{
   padding: 20px 5px;
   height: 50px;
   width: 50px;
}
i{
     padding: 10px 40px;
     font-size: 30px !important;
     color: #ccc;
     height: 50px;
     width: 50px;
     line-height:46px !important ;
}
fa-facebook:hover
{
    
     color: rgb(197, 44, 44);
     font-size:6em;
     transition: 1s ease-out;
     line-height:46px !important ;
}


hr
{
    margin: -1px auto;
    padding: 0;
    width: 1222px;
}





